<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>css-input</title>

    <link rel="stylesheet" href="css/main.min.css"/>
</head>
<body>

    <div class="main-wrap">
        <h1>css-input - work in progress</h1>

        <form class="checkbox-1" action="">
            <h2>html checkbox</h2>

            <input id="input-1" type="checkbox"/>
            <label for="input-1">Example label for css-input</label>
            <input id="input-2" type="checkbox"/>
            <label for="input-2">Example label for css-input</label>
            <input id="input-3" type="checkbox"/>
            <label for="input-3">Example label for css-input</label>
            <input id="input-4" type="checkbox"/>
            <label for="input-4">Example label for css-input</label>
        </form>

        <form class="checkbox-2 css-input" action="">
            <h2>css-input checkbox</h2>

            <input id="input-5" type="checkbox"/>
            <label for="input-5">Example label for css-input</label>
            <input id="input-6" type="checkbox"/>
            <label for="input-6">Example label for css-input</label>
            <input id="input-7" type="checkbox"/>
            <label for="input-7">Example label for css-input</label>
            <input id="input-8" type="checkbox"/>
            <label for="input-8">Example label for css-input</label>
        </form>

        <form class="checkbox-3 css-input new-line" action="">
            <h2>css-input checkbox with settings: "new-line"</h2>

            <input id="input-9" type="checkbox"/>
            <label for="input-9">Example label for css-input</label>
            <input id="css-input0" type="checkbox"/>
            <label for="css-input0">Example label for css-input</label>
            <input id="css-input1" type="checkbox"/>
            <label for="css-input1">Example label for css-input</label>
            <input id="css-input2" type="checkbox"/>
            <label for="css-input2">Example label for css-input</label>
        </form>

    </div>

</body>
</html>