<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>css-input</title>

    <link rel="stylesheet" href="css/main.min.css"/>
</head>
<body>

    <div class="main-wrap">
        <h1>css-input - work in progress</h1>

        <form class="checkbox-1" action="">
            <h2>default html checkbox</h2>

            <input id="input-1" type="checkbox"/>
            <label for="input-1">Example label for css-input</label>
            <input id="input-2" type="checkbox"/>
            <label for="input-2">Example label for css-input</label>
            <input id="input-3" type="checkbox"/>
            <label for="input-3">Example label for css-input</label>
            <input id="input-4" type="checkbox"/>
            <label for="input-4">Example label for css-input</label>
        </form>

        <form class="checkbox-3 css-input" action="">
            <h2>default css-input checkbox</h2>

            <input id="input-9" type="checkbox"/>
            <label for="input-9">Example label for css-input</label>
            <input id="css-input10" type="checkbox"/>
            <label for="css-input10">Example label for css-input</label>
            <input id="css-input11" type="checkbox"/>
            <label for="css-input11">Example label for css-input</label>
            <input id="css-input12" type="checkbox"/>
            <label for="css-input12">Example label for css-input</label>
        </form>

        <form class="checkbox-2 css-input same-line" action="">
            <h2>css-input checkbox with class: "same-line"</h2>

            <input id="input-5" type="checkbox"/>
            <label for="input-5">Example label for css-input</label>
            <input id="input-6" type="checkbox"/>
            <label for="input-6">Example label for css-input</label>
            <input id="input-7" type="checkbox"/>
            <label for="input-7">Example label for css-input</label>
            <input id="input-8" type="checkbox"/>
            <label for="input-8">Example label for css-input</label>
        </form>

        <form class="checkbox-4 css-input type-1 color-1" action="">
            <h2>css-input checkbox with class: "type-1"</h2>

            <input id="input-13" type="checkbox"/>
            <label for="input-13">Example label for css-input</label>
            <input id="css-input14" type="checkbox"/>
            <label for="css-input14">Example label for css-input</label>
            <input id="css-input15" type="checkbox"/>
            <label for="css-input15">Example label for css-input</label>
            <input id="css-input16" type="checkbox"/>
            <label for="css-input16">Example label for css-input</label>
        </form>

    </div>

</body>
</html>