$size: 16px;
$border-width: 2px;

$color-default: #333;
$color-1: #faa200;

.css-input{

  label{
    font-size: $size;
  }

  // ---------- DEFAULT -----------------------------------------------------------------
  input[type='checkbox'], input[type='radio']{
    width: $size;
    height: $size;
    visibility: hidden;
    position: relative;
    top: $border-width;

    &:before{
      visibility: visible;
      content: '';
      display: inline-block;
      width: $size;
      height: $size;

      border: $border-width solid $color-default;
    }

    &:checked:before{
      background-color: $color-default;
    }
  }

  input[type='radio']{
    &:before{
      border-radius: 50%;
    }
  }

  // ---------- .same-line -----------------------------------------------------------------
  label:after{
    content: '';
    display: block;
  }

  &.same-line{
    label:after{
      content: '';
      display: inline;
    }
  }

  // ---------- TYPES -----------------------------------------------------------------
  &.type-1 {
    input[type='checkbox'] {
      &:checked:after {
        visibility: visible;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;

        $border-width: $size / 7;
        margin-left: $border-width / 2;
        width: $size / 3;
        height: $size / 1.7;
        border: $border-width solid #fff;
        border-top: none;
        border-left: none;
        transform: translate(-60%, -60%) rotate(30deg);
      }
    }

    input[type='radio'] {
      &:checked:after {
        visibility: visible;
        content: '';
        position: absolute;
        left: $border-width;
        top: $border-width;
        width: $size - $border-width*2;
        height: $size - $border-width*2;
        border-radius: 50%;
        border: $border-width solid #fff;
      }
    }
  }

  // ---------- COLORS -----------------------------------------------------------------
  &.color-1{
    input[type='checkbox'], input[type='radio']{
      &:before{ border-color: $color-1 }
      &:checked:before{ background-color: $color-1 }
    }
  }

  // ---------- ANIMATIONS -----------------------------------------------------------------
  &.anim-1 {
    @-webkit-keyframes anim-1 {
      0%   { transform: scale(1) }
      50%  { transform: scale(1.5) }
      100% { transform: scale(1) }
    }

    input[type='checkbox']:checked, input[type='radio']:checked {
      -webkit-animation: anim-1;
      -webkit-animation-duration: 0.3s;
    }
  }

  &.anim-2 {
    @-webkit-keyframes anim-2 {
      0%   { transform: translate(0, 0) }
      50%  { transform: translate(-50%, 0) }
      100% { transform: translate(0, 0) }
    }

    input[type='checkbox']:checked, input[type='radio']:checked {
      -webkit-animation: anim-2;
      -webkit-animation-duration: 0.3s;
    }
  }

  &.anim-3 {
    @-webkit-keyframes anim-3 {
      0%   { transform: translate(0, 0) }
      50%  { transform: translate(-50%, 0) }
      100% { transform: translate(0, 0) }
    }

    @-webkit-keyframes anim-3b {
      0%   { transform: translate(0, 0) }
      50%  { transform: translate(5px, 0) }
      100% { transform: translate(0, 0) }
    }

    input[type='checkbox']:checked, input[type='radio']:checked {
      -webkit-animation: anim-3;
      -webkit-animation-duration: 0.3s;

      + label{
        -webkit-animation: anim-3b;
        -webkit-animation-duration: 0.3s;
      }
    }
  }
}